/*heres a comment*/
html {
 font-size: 100%;
 background-color: #2D2C33;
 color: #ffffff;
}

body{
  padding: 0;
  margin:0;
  font-family: monospace, sans-serif;
}

header{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: left;
  padding-top: 2em;
  padding-left: 2em;
}

#main{
  background-color: #3D3B44;
  margin: 1em 3em 1em 3em;
  padding: 2em 3em 2em 3em;
  border-radius: 50px;
}

#education{
    background-color: #3D3B44;
    margin: 1em 3em 1em 3em;
    padding: 2em 3em 2em 3em;
    border-radius: 50px;
}

#certs{
    background-color: #3D3B44;
    margin: 1em 3em 1em 3em;
    padding: 2em 3em 2em 3em;
    border-radius: 50px;
}

#work{
    background-color: #3D3B44;
    margin: 1em 3em 1em 3em;
    padding: 2em 3em 2em 3em;
    border-radius: 50px;
}

#email{
    display: flex;
    background-color: #3D3B44;
    margin: 1em 3em 3em 3em;
    padding: 2em 3em 2em 3em;
    border-radius: 50px;
}

.github{
  display: flex;
  margin: 1em 1em 1em 1em;
  padding: 1em 1em 1em 1em;
  border-radius: 50px;
  justify-content: center;
}

.linked_in{
  display: flex;
  margin: 1em 1em 1em 1em;
  padding: 1em 1em 2em 1em;
  border-radius: 50px;
  justify-content: center;
}

.twitter{
  display: flex;
  margin: 1em 1em 1em 1em;
  padding: 1em 1em 2em 1em;
  border-radius: 50px;
  justify-content: center;
}

.reddit{
  display: flex;
  margin: 1em 1em 1em 1em;
  padding: 1em 1em 2em 1em;
  border-radius: 50px;
  justify-content: center;
}

.menu{
  display: grid;
  margin: 5em 1em 1em 1em ;
}

#about_button{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  border-radius: 50px;
  justify-items: center;
  margin-bottom: 15px;
}
  figcaption{
  justify-content: center;
  padding-left: 15px;
}

#contact_button{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  border-radius: 50px;
  padding-top: 35px ;
  padding-bottom:35px ;
  justify-items: center;
}

#home_button{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  border-radius: 50px;
  justify-items: center;
}
footer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: end;
  padding: 1em 2em 0em 1em;
}
